<div class="container wrapper">
    <div class="row">

        <!-- Form -->
        <div class="col-md-10">
            <h3>Shto raport</h3>
            <form [formGroup]="reportingForm" (ngSubmit)="submitForm()">
          
                <div class="form-group">
                    <label>Titull</label>
                    <input type="text" formControlName="title" class="form-control" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Pershkrimi</label>
                     <input type="text" formControlName="description" class="form-control" maxlength="200">
                </div>
              
                <div class="form-group">
                    <label>Tipi</label><br/>
                    <select formControlName="type"  [(ngModel)]="reportingType" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                        <!-- <option>Zgjidh tipin</option> -->
                        <option value="{{type}}" *ngFor="let type of reportingTypes">{{type}}</option>
                      </select>
                      <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                        <div *ngIf="f.type.errors.required">Type is required</div>
                    </div>
                </div>

                <div class="row" id="informationDiv" *ngIf="reportingType == 'Table'">
                      <table class="col-md-6" id="availableFields">
                        <thead>
                            <label>Fushat e disponueshme</label>
                        </thead>
                        <tbody>
                            <tr *ngFor="let field of availableFields">{{field}}
                            <button class="btn btn-default" type="button" (click)="addRow()">Add</button>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" id="informationDiv" *ngIf="reportingType == 'Table'">
                    <table class="col-md-6" id="availableFields">
                      <thead>
                          <label>Fushat e selektuara</label>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>
              </div>
                <br/>
                <button type="submit" class="btn btn-primary">Shto</button>
            </form>
        </div>

    </div>
</div>