<div class="header-list">

  <a [routerLink]="['/']" >Menaxhimi i librave</a>
  <a [routerLink]="['/reporting']" >Raportimi</a>
</div>

<router-outlet></router-outlet>

<!-- <h1>Table 1</h1>
<table class="display" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
        <th><input type="checkbox" name="websitecheck" (click) = "checkuncheckall()"> select All</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
        <td><input type="checkbox" name="websitecheck" [checked]="isChecked" value=""></td>
    </tr>
    <tr>
      <td>Tiger Nixon</td>
      <td>System Architect</td>
      <td>Edinburgh</td>
      <td>61</td>
      <td>2011/04/25</td>
      <td>$320,800</td>
      <td><input type="checkbox" name="websitecheck" [checked]="isChecked" value=""></td>
  </tr>
</tbody>
</table> -->


