<div class="container wrapper book-list-container">
    <div class="row">
    
        <!-- Issue table -->
        <div class="col-md-12">
          <div>
            <a class="float-right" [routerLink]="['book/add']">
              <button type="button" class="btn btn-primary">Shto nje liber</button>
            </a>
            <button class="btn btn-danger float-right"  (click)="removeSelectedRows()">
              Fshi librat e selektuar
            </button>
            <!-- <button type="button" class="btn btn-success float-right"  (click)="changeCategory()"  data-toggle="modal" data-target="#myModal">
              Ndrysho kategori
            </button> -->
            <button type="button" class="btn btn-success float-right"  (click)="openModal(true)">
              Ndrysho kategori
            </button>
            <div id="mdlSample" class="modal fade" role="dialog" [ngStyle]="{'display': modalIsOpen ? 'block' : 'none', 'opacity': 1}">
              <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="form-group">
                    <h4 class="modal-title">Lista e kategorive</h4>
                    <select formControlName="category"  (change)="selectChangeHandler($event)">
                        <option *ngFor="let category of bookCategoriesModal" [ngValue]="category">{{category}}</option>
                      </select>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnOK" class="btn btn-success" (click)="btnOKClick(false)"><i class="fa fa-check fa-fw"></i> Ok</button>
                    <button type="button" id="btnClose" class="btn btn-danger" (click)="openModal(false)"><i class="fa fa-times fa-fw"></i> Cancel</button>
                  </div>
              </div>
              </div>
              </div>
            <div class="inner">
                <h3><a [routerLink]="['/']" >Lista e librave</a></h3>
 
                <div class="mat-elevation-z8">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
                  </mat-form-field>
                  
                  <table mat-table [dataSource]="dataSource" matSort> 
                  
                      <!-- Checkbox Column -->
                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)">
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>

                      <!-- Id Column -->
                      <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                      </ng-container>
                    
                      <!-- Title Column -->
                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulli </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>
                    
                      <!-- Description Column -->
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pershkrimi </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                      </ng-container>
                    
                      <!-- Author Column -->
                      <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autori </th>
                        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                      </ng-container>
                                  
                      <!-- Category Column -->
                      <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </th>
                          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                      </ng-container>

                      <!-- Date Column -->
                      <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Data </th>
                        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                      </ng-container>
                  
                        <!-- Actions Column -->
                      <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef> Veprimet </th>
                          <td mat-cell *matCellDef="let element" class="action-link"> 
                          <button type="button" class="btn btn-success btn-sm move-right edit-button"[routerLink]="['book/edit/', element.id]">Modifiko</button>
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteBook(element)">Fshi</button>
                          <!-- <a [routerLink]="['book/edit/', element.id]">Edit</a> | 
                          <a (click)="deleteBook(element)" class="delete-button">Delete</a>   -->
                          </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

                  </table>

                  <ng-container *ngIf="dataSource.data.length === 0">
                      <p>No books found</p>
                  </ng-container>

                  <mat-paginator
                    [pageSizeOptions]="[10, 20, 30]"
                    showFirstLastButtons>
                  </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
