.actions-buttons {
    display: flex;
    flex-direction: column;
}

/* .edit-button {
    margin-bottom: 10px;
} */

.book-list-container {
    margin-top: 50px;
}

table {
    width: 100%;
  }

.delete-button:hover {
    color: #007bff;
    cursor: pointer;
}